<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
     <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>

    <div id="wrapper" style="min-height:100%;
   position:relative;">
      <%= yield %>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"  style="margin-top: 100px;">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="javascript:void(0);">
                   Menu
                </a>
            </li>
            <li>
                <a href="#">Write blog</a>
            </li>
            <li>
                <a href="#">Edit profile</a>
            </li>
            <li>
                <a href="#">Change your password</a>
            </li>
            <li>
                <a href="#">Setting</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
              <ul class="dropdown-menu color-white" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
        </ul>
      </nav>
      <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas" style="margin-top: 100px;">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
